html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #ccc;
	margin: 0;
}

#spreadsheet, #spreadsheetWrapper {
	height: 100%;
	width: 100%;
}

iframe {
	frameborder: 0;
	background-color: #fff;
}

#chat, #chatWrapper {
	height: 250px;
	width: 100%;
}

#callins {
	height: 250px;
	position: absolute;
	right: 0;
	top: 0;
}

#spreadsheetWrapper {
	padding-top: 5px;
}

#chatWrapper {
	padding-bottom: 5px;
}

.noMouseEvents {
	pointer-events: none;
}

#footer {
    text-align: center;
    margin: auto;
}

#solved {
    background-color: #EEEE66;
}
