html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #ccc;
	margin: 0;
	overflow: hidden;
}

iframe {
	frameborder: 0;
}

#spreadsheet, #puzzlesheet {
	height: 100%;
	width: 100%;
}

#spreadsheetWrapper {
	height: 70%;
	padding-top: 5px;
	width: 100%;
}

#puzzlesheet{
	padding-top: 25px;
}

#chat {
	height: 235px;
	overflow: hidden;
	width: 100%;
}

#chatWrapper {
	height: 235px;
	margin-top: -8px;
	overflow: hidden;
	padding-bottom: 5px;
	width: 100%;
}

#callins {
	background-color: #ccc;
	height: 25px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.noMouseEvents {
	pointer-events: none;
}

#footer {
    margin: auto;
    text-align: center;
}

#solved {
    background-color: #EEEE66;
}
