<html>
  <head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    {% block head %}
    {% endblock %}
    <title>Galactic Huntboard</title>
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      <div id="callins">
        {% block footer %}
          <a href="/" >Galactic Huntboard.</a> {% if logged_in %}You are logged in as {{ user.email }}. <a href="{{ uri_for('logout') }}" class="btn">Logout</a>{% endif %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
