<html>
    <head>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    	<link type="text/css" rel="stylesheet" href="/stylesheets/chat.css" />
  </head>
  <body>
	  <iframe class="chat" seamless="seamless" scrolling="no" src="http://widget.mibbit.com/?settings=d9abc037945c3a94d5d075be9d346c94&amp;server=irc.Mibbit.Net&amp;channel=%23galacticdoge_{{ index }}&amp;nick={{ user.given_name }}{{ user.family_name }}&amp;autoConnect=true"></iframe>
  </body>
</html>
