{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/javascripts/main.js"></script>
{% endblock %}
{% block content %}
  
	<p>If you have permission to view <a href="https://drive.google.com/folderview?id=0B1zTSYJ9kTiqcGxvdHFYU2pGckk&usp=sharing">this folder,</a> your Google account has access to this website.</p>

	<p>
		<div id="loginBtnContainer">
			<a id="loginBtn" href="/logout">Retry login</a>
		</div>
	</p>
	
	{%if authfailed %}
	<p>Login was attempted for {{ attempt }}, but failed.</p>
	{% endif %}

{% endblock %}
