{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/javascripts/main_puzzle.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
{% endblock %}
{% block content %}
  
<div>
	<div id="chatWrapper">
		<iframe id="chat" seamless="seamless" src="{{ uri_for('chat', number=index) }}"></iframe>
	</div>
	<div id="spreadsheetWrapper">
		<iframe id="spreadsheet" seamless="seamless" src="{{ doc }}"></iframe>
	</div>
</div>

{% endblock %}
