{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/javascripts/puzzle.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block content %}
  
<div id="chatWrapper">
	<iframe id="chat" seamless="seamless"  src="/2014/chat/{{ index }}"></iframe>
	<iframe id="callins" seamless="seamless"  src="http://www.something.com"></iframe>
</div>
<div id="spreadsheetWrapper">
	<iframe id="spreadsheet" seamless="seamless" src="{{ doc }}"></iframe>
</div>
{% endblock %}
